2025_02_25/backup_n8n_115358.json
[{"createdAt":"2025-02-02T18:56:24.766Z","updatedAt":"2025-02-02T19:53:55.444Z","id":"ORBmVjmLLKoZu30I","name":"Auth0 Authentication","active":true,"nodes":[{"parameters":{"path":"ac5353a0-7ea4-4e44-a4da-d2d24f1739d4","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,120],"id":"e1b213e8-74cb-4b3d-a801-b82a8ae17162","name":"Webhook","webhookId":"ac5353a0-7ea4-4e44-a4da-d2d24f1739d4"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ea162e9b-fd7f-478f-a96e-16480788f08f","leftValue":"={{ $json.query.token }}","rightValue":"token","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Access Token"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.query.code }}","rightValue":"code","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Get Token"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[200,120],"id":"1f6e461f-55dd-430f-b00f-5092d570859e","name":"Switch"},{"parameters":{"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[460,-180],"id":"a33fef6d-8611-483d-9eef-061ee8f67df0","name":"Edit Fields"},{"parameters":{"url":"https://dev-fc80e7wq7l2zwpg8.eu.auth0.com/userinfo","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.access_token }}"}]},"options":{"response":{"response":{"fullResponse":true,"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[760,-180],"id":"89aab770-7428-4117-b145-37a62c907577","name":"Get user info","onError":"continueErrorOutput"},{"parameters":{"curlImport":"","httpVariantWarning":"","method":"POST","url":"https://dev-fc80e7wq7l2zwpg8.eu.auth0.com/oauth/token","":"","authentication":"predefinedCredentialType","nodeCredentialType":"auth0ManagementApi","provideSslCertificates":false,"sendQuery":false,"sendHeaders":false,"sendBody":true,"contentType":"form-urlencoded","specifyBody":"keypair","bodyParameters":{"parameters":[{"name":"grant_type","value":"authorization_code"},{"name":"client_id","value":"ZrUViw4VGm324BxxIG8xgO2BsajRVJia"},{"name":"client_secret","value":"jiRCwznfga6LEHXCZhBXZnIW7dhBT5h8EUjV2jxDDAoKAsg6XcJ4YDqzxFCigkQ5"},{"name":"code","value":"={{ $json.query.code }}"},{"name":"redirect_uri","value":"={{ $json.webhookUrl }}"}]},"options":{},"infoMessage":""},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[460,0],"id":"a879ddae-825f-4ddc-a318-6b2ae73c4978","name":"Auth0 Get Token","extendsCredential":"auth0ManagementApi","credentials":{"auth0ManagementApi":{"id":"hgLfjGU0eHaj1AIf","name":"Auth0 DEV"}},"onError":"continueErrorOutput"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"data\": {{ $json.body.toJsonString() }}\n} ","options":{"responseHeaders":{"entries":[{"name":"content-type","value":"application/json"}]}}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[960,-300],"id":"f2b3a48f-1e79-4afa-9b44-3a75b8e72111","name":"Success Response"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"error\"{\n    \"code\": {{ $json.error.cause.status }},\n    \"message\": \"{{ $json.error.message }}\",\n    \"execution_id\": {{ $execution.id }}\n  }\n}","options":{"responseHeaders":{"entries":[{"name":"content-type","value":"application/json"}]}}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[960,20],"id":"538281ba-b953-4fd2-bb90-34934fd1e069","name":"Error on Auth0"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"error\": {\n    \"code\": 400,\n    \"message\": \"Token missing\",\n    \"execution_id\": {{ $execution.id }}\n  }\n}","options":{"responseCode":400,"responseHeaders":{"entries":[{"name":"content-type","value":"application/json"}]}}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[960,260],"id":"26524beb-3d4b-4876-8843-3565268e83b7","name":"No parameters"}],"connections":{"Webhook":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Auth0 Get Token","type":"main","index":0}],[{"node":"No parameters","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Get user info","type":"main","index":0}]]},"Get user info":{"main":[[{"node":"Success Response","type":"main","index":0}],[{"node":"Error on Auth0","type":"main","index":0}]]},"Auth0 Get Token":{"main":[[{"node":"Get user info","type":"main","index":0}],[{"node":"Error on Auth0","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"374480e3-614c-4088-b3ec-7cffa07c0325","triggerCount":1,"tags":[{"createdAt":"2025-02-02T19:53:42.442Z","updatedAt":"2025-02-02T19:53:42.442Z","id":"oLJh8Zyb7wN6BZiu","name":"Auth0"},{"createdAt":"2025-02-02T18:14:26.987Z","updatedAt":"2025-02-02T18:14:26.987Z","id":"WAc4AutVFD0y0pzi","name":"DEV4i"}]},{"createdAt":"2025-02-02T17:23:31.582Z","updatedAt":"2025-02-04T10:50:22.099Z","id":"jQbli0nzwtZA2ge3","name":"__Internal - Backup N8N Workflows","active":false,"nodes":[{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[200,0],"id":"9668ce2c-10af-492d-82b4-c0d8cdda2051","name":"n8n","credentials":{"n8nApi":{"id":"JfOIXBuRQ8sdLVPr","name":"N8N API"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"8827e6aa-9af9-49d7-8cf0-24a0ab82e49e","name":"When clicking ‘Test workflow’"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"toniruiz-dev4i","mode":"name"},"repository":{"__rl":true,"value":"testbackupn8n","mode":"list","cachedResultName":"testbackupn8n","cachedResultUrl":"https://github.com/toniruiz-dev4i/testbackupn8n"},"filePath":"={{ $today.format('yyyy_MM_dd') }}/backup_n8n_{{ DateTime.now().format('HHmmss') }}.json","binaryData":true,"commitMessage":"=Changes saved on {{ $today.format('yyyy-MM-dd') }}","additionalParameters":{"author":{"name":"N8N","email":"n8n@dev4i.com"}}},"type":"n8n-nodes-base.github","typeVersion":1,"position":[660,0],"id":"bcf9ca3e-4204-4937-a732-c3d0c3a82d46","name":"GitHub","credentials":{"githubApi":{"id":"BHqEKTpISNYc6G7W","name":"Github toniruiz-dev4i Backup N8N"}}},{"parameters":{"operation":"toJson","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[420,0],"id":"2b4f56f0-4e87-46b4-a77b-8c2a6b67015f","name":"Convert to File"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"n8n","type":"main","index":0}]]},"n8n":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"GitHub","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b47b39ea-1668-4cae-aad8-43322f8b7f69","triggerCount":0,"tags":[{"createdAt":"2025-02-02T18:14:19.064Z","updatedAt":"2025-02-02T18:14:19.064Z","id":"clgIeluEwWJulkjK","name":"N8N"},{"createdAt":"2025-02-02T18:14:22.654Z","updatedAt":"2025-02-02T18:14:22.654Z","id":"6WbLimrYXYzGOfpn","name":"Github"},{"createdAt":"2025-02-02T18:14:26.987Z","updatedAt":"2025-02-02T18:14:26.987Z","id":"WAc4AutVFD0y0pzi","name":"DEV4i"}]},{"createdAt":"2025-02-06T16:26:30.591Z","updatedAt":"2025-02-06T18:21:46.187Z","id":"xL0EY6Vklef013LH","name":"RRSS - CORE PUBLISH Facebook","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-240,0],"id":"284b68d3-bb0d-464a-928b-1d7332c8d95c","name":"When clicking ‘Test workflow’"},{"parameters":{"operation":"toBinary","sourceProperty":"IMAGE-ID","binaryPropertyName":"image","options":{"fileName":"={{ $json.RED }}_{{ $json._id }}","mimeType":"image/jpeg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[840,-120],"id":"cf30d2ce-a95e-49ed-9415-a55b798ae28e","name":"Convert to File"},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v21.0","node":"565793049950703","edge":"photos","sendBinaryData":true,"binaryPropertyName":"image","options":{"queryParameters":{"parameter":[{"name":"caption","value":"={{ $('Set Post Text').item.json.message }}"}]}}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[1060,-120],"id":"afbe5dbd-e4e5-482f-b315-a939922fd2d1","name":"Publish Image","credentials":{"facebookGraphApi":{"id":"9prp3A4w9p2T8YhJ","name":"Facebook Graph account"}}},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v21.0","node":"565793049950703/feed","options":{"queryParametersJson":"={\n  \"message\": \"{{ $('Search Post').item.json.CONTENT }}\",\n  \"published\":\"true\"\n} "}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[640,120],"id":"e62b6128-5220-4993-be1e-4ca716815500","name":"Publish Text","credentials":{"facebookGraphApi":{"id":"9prp3A4w9p2T8YhJ","name":"Facebook Graph account"}}},{"parameters":{"collection":"Imagenes","options":{},"query":"={\n  \"_id\":\"{{ $('Search Post').item.json.IMAGE_SELECTED }}\"\n}"},"type":"n8n-nodes-base.mongoDb","typeVersion":1.1,"position":[640,-120],"id":"83f92df1-30ef-452d-834e-14e75355c3ac","name":"Search Image","credentials":{"mongoDb":{"id":"gtW5lNnrIIPzsmLc","name":"MongoDB account"}}},{"parameters":{"collection":"posts","options":{},"query":"{\n  \"GROUP_ID\":\"e4ea87f4-2456-4506-b1cd-23e3c9dcb9f9\",\n  \"NETWORK\":\"Facebook\",\n  \"STATUS\":\"NOT PUBLISHED\"\n}"},"type":"n8n-nodes-base.mongoDb","typeVersion":1.1,"position":[-20,0],"id":"e8c6c625-a062-4fbe-be22-737b17d96afb","name":"Search Post","credentials":{"mongoDb":{"id":"gtW5lNnrIIPzsmLc","name":"MongoDB account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9a897eb6-a1b3-452e-b201-3a12561b8048","leftValue":"={{ $('Search Post').item.json.IMAGE_SELECTED }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[420,0],"id":"fdf3adc3-c111-4487-bf9f-cd794b60327a","name":"Has Image Selected?"},{"parameters":{"assignments":{"assignments":[{"id":"0edb6d9e-ef0b-4c0e-acc8-bf2f1e8fe3a2","name":"message","value":"={{ $json.CONTENT }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[200,0],"id":"9f445366-bf98-4f08-80e3-5cd085cd19c3","name":"Set Post Text"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1500,100],"id":"09cfe3dc-dbae-425c-b48e-78e8d3683195","name":"ERROR"},{"parameters":{"operation":"update","collection":"posts","updateKey":"_id ","fields":"STATUS","options":{}},"type":"n8n-nodes-base.mongoDb","typeVersion":1.1,"position":[1680,-120],"id":"570799ba-b881-4ba9-8343-167f10de9523","name":"MongoDB","alwaysOutputData":true,"credentials":{"mongoDb":{"id":"gtW5lNnrIIPzsmLc","name":"MongoDB account"}}},{"parameters":{"assignments":{"assignments":[{"id":"61eb3d92-c13f-4695-9856-e6536ea38bdb","name":"STATUS","value":"PUBLISHED","type":"string"},{"id":"65536d0e-1e8f-46d2-a124-543be91b6f5e","name":"_id","value":"={{ $('Search Post').item.json._id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1500,-120],"id":"27dd7123-fe0a-4bfc-89b7-9a3ddc0bb7ad","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a0368546-f06a-4d7f-97ad-cec4500ba08e","leftValue":"={{ $json.post_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1280,0],"id":"7d938759-f634-4abe-b02f-f8d1a2299fe8","name":"If","executeOnce":true}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Search Post","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Publish Image","type":"main","index":0}]]},"Publish Text":{"main":[[{"node":"If","type":"main","index":0}]]},"Search Image":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Search Post":{"main":[[{"node":"Set Post Text","type":"main","index":0}]]},"Has Image Selected?":{"main":[[{"node":"Search Image","type":"main","index":0}],[{"node":"Publish Text","type":"main","index":0}]]},"Set Post Text":{"main":[[{"node":"Has Image Selected?","type":"main","index":0}]]},"Publish Image":{"main":[[{"node":"If","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"MongoDB","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"ERROR","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"06fd31bb-15e0-4726-99b1-f5144cacde66","triggerCount":0,"tags":[{"createdAt":"2025-02-02T20:02:16.542Z","updatedAt":"2025-02-02T20:02:16.542Z","id":"SGqMVFKOQKYQk2ym","name":"DEVELOPMENT"},{"createdAt":"2025-02-02T20:02:16.513Z","updatedAt":"2025-02-02T20:02:16.513Z","id":"qdEm03HMpLXoqwIP","name":"RRSS"},{"createdAt":"2025-02-03T12:41:23.136Z","updatedAt":"2025-02-03T12:41:23.136Z","id":"3hSshfsYWh1Qh9Je","name":"MongoDB"},{"createdAt":"2025-02-06T17:27:28.910Z","updatedAt":"2025-02-06T17:27:28.910Z","id":"3EXzvCfLUFbsC4fV","name":"Facebook"}]},{"createdAt":"2025-02-05T10:17:18.967Z","updatedAt":"2025-02-05T19:10:09.360Z","id":"EppGgNnZd4I217as","name":"RRSS - TRIGGER Email","active":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"4cd4fa72-ac59-4537-b5f4-9c948da77cf3","name":"email_to","value":"={{ $json.to.value[0].address }}","type":"string"},{"id":"07b7dcf1-3a74-479d-91e7-666431b224ae","name":"email_from","value":"={{ $json.from.value[0].address }}","type":"string"},{"id":"891a760a-5106-4316-93cd-96690634f074","name":"email_content","value":"={{ $json.text.extractUrl() }}","type":"string"},{"id":"77d9d8c4-26de-4ccd-8b2d-f240f59a6b2e","name":"email_date","value":"={{ $json.date }}","type":"string"},{"id":"21238b91-512b-4c90-81d9-722094cbb493","name":"networks","value":"={{ $json.subject.split(\",\").map(item => item.trim().toSentenceCase()) }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-120,0],"id":"5fa1f08c-0659-4134-a2fb-f8c15372fa0e","name":"Edit Fields"},{"parameters":{"collection":"usuarios","options":{},"query":"={\n  \"username\": \"{{ $json.email_to.split(\"@\")[0].split(\"+\")[1] }}\"\n}"},"type":"n8n-nodes-base.mongoDb","typeVersion":1.1,"position":[80,0],"id":"68065c40-ea49-4eb5-8626-38983e827449","name":"MongoDB","alwaysOutputData":true,"credentials":{"mongoDb":{"id":"gtW5lNnrIIPzsmLc","name":"MongoDB account"}}},{"parameters":{"content":"## Comprobaciones\nA partir de aquí debería comprobar:\n\n- El subject contiene las redes sociales y están registradas? Si no es asi que deberíamos hacer?\n\n- Comprobar el tema de múltiples enlaces en el cuerpo del email.\nQue deberíamos hacer?","height":240,"width":680},"type":"n8n-nodes-base.stickyNote","position":[-340,-340],"typeVersion":1,"id":"77832fe1-fe4e-4fa6-a8b0-88b6edc9c967","name":"Sticky Note"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"651f30e8-0166-4ca0-8c77-0e65b9cc5e58","leftValue":"={{ $('MongoDB').item.json }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[300,0],"id":"02dc8dc8-6ba8-4157-98d8-6c4478ce96ee","name":"If"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{"labelIds":["Label_4667689042956632566"],"readStatus":"unread"},"options":{}},"type":"n8n-nodes-base.gmailTrigger","typeVersion":1.2,"position":[-320,0],"id":"2e824aa4-7f34-4f26-b968-2e2453bd3bf3","name":"Message Received","notesInFlow":true,"credentials":{"gmailOAuth2":{"id":"zFVhgOSpIk2cfDPg","name":"Gmail account"}},"notes":"rrss.dev4i+XXXXX@gmail.com"},{"parameters":{"resource":"label","returnAll":true},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[620,-100],"id":"b9eac9be-74fd-4d4b-b9f6-a14752aab42d","name":"Gets all labels","webhookId":"545e1d58-2611-4c91-874d-7cd43102590f","credentials":{"gmailOAuth2":{"id":"zFVhgOSpIk2cfDPg","name":"Gmail account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"18274a8a-66e1-4dc2-9c71-99028a554967","leftValue":"={{ $json.name }}","rightValue":"=CLIENTES/{{ $('MongoDB').item.json.username }}","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[840,-100],"id":"cbf7bc4c-dfaf-4d62-ba2f-62f992e2f566","name":"Filters label for USERNAME"},{"parameters":{"operation":"addLabels","messageId":"={{ $('Message Received').item.json.id }}","labelIds":"={{ $json.id }}"},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1060,-100],"id":"c358e19d-8006-45e3-8351-c1ac878342e4","name":"AddLabel","webhookId":"51f20d3f-5b26-4505-9720-2c99d8014608","credentials":{"gmailOAuth2":{"id":"zFVhgOSpIk2cfDPg","name":"Gmail account"}}},{"parameters":{"operation":"markAsRead","messageId":"={{ $('Message Received').item.json.id }}"},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1260,-100],"id":"1e9d9c37-bad2-48e5-82f8-b069a6f66c6f","name":"Marks as Read","webhookId":"266a20a8-c977-491d-ba95-f8adf37f0cfd","credentials":{"gmailOAuth2":{"id":"zFVhgOSpIk2cfDPg","name":"Gmail account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"Y6gXc5HdTHhf0vUS","mode":"list","cachedResultName":"RRSS - Content creation"},"workflowInputs":{"mappingMode":"defineBelow","value":{"user":"={{ $('MongoDB').item.json._id }}","link":"={{ $('Edit Fields').item.json.email_content }}","networks":"={{ $('Edit Fields').item.json.networks.parseJson() }}","publisher":"EMAIL"},"matchingColumns":[],"schema":[{"id":"user","displayName":"user","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"link","displayName":"link","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"publisher","displayName":"publisher","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"networks","displayName":"networks","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array"}],"attemptToConvertTypes":true,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1460,-100],"id":"b8d1b825-c436-4605-9c69-17724575a231","name":"Triggers Content Creation"},{"parameters":{"operation":"addLabels","messageId":"={{ $('Message Received').item.json.id }}","labelIds":["Label_9088273454184798200"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[620,100],"id":"b655eed1-72e9-40c1-b926-e004fd9e19d6","name":"Add Error Label","webhookId":"df511b51-235a-4f6d-8990-061d2005fca3","credentials":{"gmailOAuth2":{"id":"zFVhgOSpIk2cfDPg","name":"Gmail account"}}},{"parameters":{"operation":"markAsRead","messageId":"={{ $('Message Received').item.json.id }}"},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[840,100],"id":"32ce798d-0e07-431f-aa88-1065cac6af35","name":"Marks as Read1","webhookId":"fc378765-20c6-4f64-b87a-1f90f7f79308","credentials":{"gmailOAuth2":{"id":"zFVhgOSpIk2cfDPg","name":"Gmail account"}}}],"connections":{"Edit Fields":{"main":[[{"node":"MongoDB","type":"main","index":0}]]},"MongoDB":{"main":[[{"node":"If","type":"main","index":0}],[]]},"If":{"main":[[{"node":"Gets all labels","type":"main","index":0}],[{"node":"Add Error Label","type":"main","index":0}]]},"Message Received":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Gets all labels":{"main":[[{"node":"Filters label for USERNAME","type":"main","index":0}]]},"Filters label for USERNAME":{"main":[[{"node":"AddLabel","type":"main","index":0}]]},"AddLabel":{"main":[[{"node":"Marks as Read","type":"main","index":0}]]},"Marks as Read":{"main":[[{"node":"Triggers Content Creation","type":"main","index":0}]]},"Triggers Content Creation":{"main":[[]]},"Add Error Label":{"main":[[{"node":"Marks as Read1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1d1ed74b-01e6-43ac-b47d-898161434620","triggerCount":0,"tags":[{"createdAt":"2025-02-02T18:14:26.987Z","updatedAt":"2025-02-02T18:14:26.987Z","id":"WAc4AutVFD0y0pzi","name":"DEV4i"},{"createdAt":"2025-02-02T20:02:16.542Z","updatedAt":"2025-02-02T20:02:16.542Z","id":"SGqMVFKOQKYQk2ym","name":"DEVELOPMENT"},{"createdAt":"2025-02-03T12:41:23.136Z","updatedAt":"2025-02-03T12:41:23.136Z","id":"3hSshfsYWh1Qh9Je","name":"MongoDB"},{"createdAt":"2025-02-02T20:02:16.513Z","updatedAt":"2025-02-02T20:02:16.513Z","id":"qdEm03HMpLXoqwIP","name":"RRSS"},{"createdAt":"2025-02-05T18:35:16.625Z","updatedAt":"2025-02-05T18:35:16.625Z","id":"Mp5d7avkWVxsG2ii","name":"Gmail"}]},{"createdAt":"2025-02-02T20:23:41.950Z","updatedAt":"2025-02-05T19:11:32.703Z","id":"cAKZNoKaDUgQH4m6","name":"RRSS - TRIGGER Telegram","active":false,"nodes":[{"parameters":{"updates":["message","callback_query"],"additionalFields":{}},"id":"fc731621-7b09-4742-a2b0-d54877add3cd","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-440,120],"webhookId":"98155419-b1a7-4f39-90d3-f165ff5e52db","credentials":{"telegramApi":{"id":"B51ff0jTwngID3d0","name":"Telegram account"}}},{"parameters":{"operation":"search","base":{"__rl":true,"value":"app4Q2RBeOtJBVhsD","mode":"list","cachedResultName":"Redes Sociales","cachedResultUrl":"https://airtable.com/app4Q2RBeOtJBVhsD"},"table":{"__rl":true,"value":"tblmC1Rlt8PcUVX6F","mode":"list","cachedResultName":"Linkedin","cachedResultUrl":"https://airtable.com/app4Q2RBeOtJBVhsD/tblmC1Rlt8PcUVX6F"},"options":{"fields":["TITLE","DATE","PUBLISHED","UUID"],"view":{"__rl":true,"value":"viwSLr9UYenHxQVEB","mode":"list","cachedResultName":"Grid view","cachedResultUrl":"https://airtable.com/app4Q2RBeOtJBVhsD/tblmC1Rlt8PcUVX6F/viwSLr9UYenHxQVEB"}}},"id":"1a42d411-5824-467e-bf1f-fc1108f7c10d","name":"Airtable","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[0,80]},{"parameters":{"jsCode":"var message = \"<b>Lista de publicaciones:</b>\\n\"; \nfor (const item of items) { \n  message += '<tg-emoji emoji-id=\"5368324170671202286\">🔑</tg-emoji><b>UUID:</b> <a href=\"https://dev4in8n-eze9gjcphudfcvg5.northeurope-01.azurewebsites.net/webhook/rss-preview?type=linkedin&uuid=' + item.json.UUID + '\">'+ item.json.UUID + '</a>\\n'; \n  message += '<tg-emoji emoji-id=\"5368324170671202286\">📅</tg-emoji><b>FECHA:</b> ' + item.json.DATE + '\\n'; \n  message += '<tg-emoji emoji-id=\"5368324170671202286\">🏷️</tg-emoji><b>TITULO:</b> ' + item.json.TITLE + '\\n';\n  message += '<tg-emoji emoji-id=\"5368324170671202286\">🚦</tg-emoji><b>STATUS:</b> ' + item.json.PUBLISHED + '\\n';\n  message += '\\n';\n}\n\nreturn [{\n  message: message\n}];"},"id":"8e8e7d98-6f08-4e4f-a50f-8313d2d437db","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[180,80]},{"parameters":{"chatId":"={{ $('Telegram Trigger').first().json.message.chat.id }}","text":"={{ $json.message }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML","reply_to_message_id":"={{ $('Telegram Trigger').first().json.message.message_id }}"}},"id":"69945276-5606-426b-b8c8-54f430ef43ca","name":"Telegram","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[360,80],"credentials":{"telegramApi":{"id":"B51ff0jTwngID3d0","name":"Telegram account"}}},{"parameters":{"chatId":"={{ $json.message.chat.id }}","text":"<b>❌ No reconozco ese comando.</b> Por favor, utiliza el menú para ver la lista de comandos disponibles.","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"id":"90678e7e-8eb9-4343-b7e9-43a59482ea8d","name":"Telegram1","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[0,380],"credentials":{"telegramApi":{"id":"B51ff0jTwngID3d0","name":"Telegram account"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"⚠️ No estás registrado para usar este bot. Por favor, contacta con <b>DEV4i</b> para más información.","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"🌐 Contactar con DEV4i","additionalFields":{"url":"https://www.dev4i.com"}}]}}]},"additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"id":"add01987-fb2d-4a00-805a-c6ef93214f68","name":"Telegram2","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[0,-80],"credentials":{"telegramApi":{"id":"B51ff0jTwngID3d0","name":"Telegram account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"68219203-680b-4289-ae89-4f3087e59fcb","leftValue":"={{ [\"Favashihsdf\",\"Auxies\"] }}","rightValue":"={{ $json.message.chat.username }}","operator":{"type":"array","operation":"notContains","rightType":"any"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Not Allowed"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.text }}","rightValue":"/ver_listado","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Ver Listado"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2f5e7fda-d696-440e-b5fa-f220bd5841f5","leftValue":"{{ $json.message.text }}","rightValue":"/help","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Ayuda"}]},"options":{"fallbackOutput":"extra"}},"id":"a0dcdc5a-0b41-405c-b1dc-5708ae31d37e","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-240,100]}],"connections":{"Telegram Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Airtable":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Telegram2","type":"main","index":0}],[{"node":"Airtable","type":"main","index":0}],[],[{"node":"Telegram1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"78b9cf4c-7596-481b-a61e-f94b3b978087","triggerCount":0,"tags":[{"createdAt":"2025-02-02T18:14:26.987Z","updatedAt":"2025-02-02T18:14:26.987Z","id":"WAc4AutVFD0y0pzi","name":"DEV4i"},{"createdAt":"2025-02-02T20:02:16.495Z","updatedAt":"2025-02-02T20:02:16.495Z","id":"aj1XnDr0HQ3V5Ogn","name":"Telegram"},{"createdAt":"2025-02-02T20:02:16.513Z","updatedAt":"2025-02-02T20:02:16.513Z","id":"qdEm03HMpLXoqwIP","name":"RRSS"},{"createdAt":"2025-02-02T20:02:16.514Z","updatedAt":"2025-02-02T20:02:16.514Z","id":"ysXjM5KSieU8yCmh","name":"Airtable"},{"createdAt":"2025-02-02T20:02:16.542Z","updatedAt":"2025-02-02T20:02:16.542Z","id":"SGqMVFKOQKYQk2ym","name":"DEVELOPMENT"}]},{"createdAt":"2025-02-04T10:51:30.320Z","updatedAt":"2025-02-05T19:13:05.255Z","id":"dObo8TeXMeNkj4X0","name":"RRSS - DEMOS Images creation","active":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"GROUP_ID"},{"name":"NETWORKS","type":"array"}]}},"id":"c055762a-8fe7-4141-a639-df2372f30060","typeVersion":1.1,"name":"Workflow Input Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","position":[260,340]},{"parameters":{"collection":"Imagenes","options":{},"query":"={\n  \"RED\": { \"$in\": {{ $json.NETWORKS.toJsonString().toLowerCase() }} },\n  \"GRUPO_ID\": \"1111\"\n}"},"type":"n8n-nodes-base.mongoDb","typeVersion":1.1,"position":[480,340],"id":"e02a04da-c075-4cb3-a9b0-bdd1d5ea43ff","name":"MongoDB","alwaysOutputData":true,"credentials":{"mongoDb":{"id":"gtW5lNnrIIPzsmLc","name":"MongoDB account"}}},{"parameters":{"assignments":{"assignments":[{"id":"6cefe7e0-b41a-4ccc-b285-e7396b69428a","name":"GRUPO_ID","value":"={{ $('Workflow Input Trigger').item.json.GROUP_ID }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[700,340],"id":"cd5816aa-6e5a-47dc-ac0a-2b726c587335","name":"Edit Fields"},{"parameters":{"operation":"insert","collection":"Imagenes","fields":"GRUPO_ID,RED,IMAGE-ID","options":{}},"type":"n8n-nodes-base.mongoDb","typeVersion":1.1,"position":[920,340],"id":"a11c54be-7509-4318-877f-44e67e502906","name":"MongoDB1","credentials":{"mongoDb":{"id":"gtW5lNnrIIPzsmLc","name":"MongoDB account"}}},{"parameters":{"content":"## PRECAUCION\n\nSe buscan con RED en vez NETWORK y en lowercase\n\nPENDIENTE ESTANDARIZAR","height":520,"color":3},"type":"n8n-nodes-base.stickyNote","position":[420,60],"typeVersion":1,"id":"bf26bbe5-09ee-4efd-8dc5-4e1804dedc53","name":"Sticky Note"}],"connections":{"Workflow Input Trigger":{"main":[[{"node":"MongoDB","type":"main","index":0}]]},"MongoDB":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"MongoDB1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateId":"VMiAxXa3lCAizGB5f7dVZQSFfg3FtHkdTKvLuupqBls=","templateCredsSetupCompleted":true},"pinData":{"Workflow Input Trigger":[{"json":{"GROUP_ID":"3c2df957-0a12-4bb7-b232-bf31339d8448","NETWORKS":["Facebook","Twitter","Instagr-am","Linkedin"]}}]},"versionId":"a3545467-b96b-4754-b9c1-ba857349fd3c","triggerCount":0,"tags":[{"createdAt":"2025-02-02T20:02:16.542Z","updatedAt":"2025-02-02T20:02:16.542Z","id":"SGqMVFKOQKYQk2ym","name":"DEVELOPMENT"},{"createdAt":"2025-02-02T18:14:26.987Z","updatedAt":"2025-02-02T18:14:26.987Z","id":"WAc4AutVFD0y0pzi","name":"DEV4i"},{"createdAt":"2025-02-03T12:41:23.136Z","updatedAt":"2025-02-03T12:41:23.136Z","id":"3hSshfsYWh1Qh9Je","name":"MongoDB"},{"createdAt":"2025-02-02T20:02:16.513Z","updatedAt":"2025-02-02T20:02:16.513Z","id":"qdEm03HMpLXoqwIP","name":"RRSS"},{"createdAt":"2025-02-04T11:21:48.648Z","updatedAt":"2025-02-04T11:21:48.648Z","id":"I8ojKSnVwyzIbM1c","name":"DEMOS"}]},{"createdAt":"2025-02-03T10:45:08.031Z","updatedAt":"2025-02-06T16:38:24.463Z","id":"Y6gXc5HdTHhf0vUS","name":"RRSS - CORE Content creation","active":false,"nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n    \"user\": \"6760652122ed5d963175766d\",\n    \"link\": \"https://noticias.ai/union-europea-impulsa-el-primer-marco-regulatorio-global-de-la-inteligencia-artificial/\",\n    \"publisher\": \"EMAIL\",\n    \"networks\": [\n      \"Facebook\",\n      \"Twitter\",\n      \"Linkedin\",\n      \"Instagram\"\n    ]\n}"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"fbdaea0e-9233-41fa-b6b8-fae205b5a7b0","name":"Workflow Input Trigger"},{"parameters":{"method":"POST","url":"https://api.perplexity.ai/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 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"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"sonar\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Actua como un investigador de noticias.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Busca información sobre la siguiente noticia: {{ $json.link }} Instrucciones: -Haz un resumen detallado de la noticia. -Busca el máximo de información relacionada con esta noticia y amplia la información de manera extendida (2000 palabras) a partir de diferentes fuentes reconocidas.\"\n    }\n  ],\n  \"max_tokens\": 2000,\n  \"temperature\": 0.75,\n  \"top_p\": 0.9,\n  \"search_domain_filter\": [\n    \"perplexity.ai\"\n  ],\n  \"return_images\": false,\n  \"return_related_questions\": false,\n  \"search_recency_filter\": \"month\",\n  \"top_k\": 0,\n  \"stream\": false,\n  \"presence_penalty\": 0,\n  \"frequency_penalty\": 1,\n  \"response_format\": null\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[240,0],"id":"5631a480-8236-45c0-b57a-96d22ccd7a98","name":"Perplexity"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Workflow Input Trigger').item.json.networks }}","rightValue":"Linkedin","operator":{"type":"array","operation":"contains","rightType":"any"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Linkedin"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0a3b5faa-56dd-4781-bf28-c9e3e3a65c8f","leftValue":"={{ $('Workflow Input Trigger').item.json.networks }}","rightValue":"Twitter","operator":{"type":"array","operation":"contains","rightType":"any"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Twitter"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"98433b0c-a40d-42ee-b8c9-93b50edc7bf2","leftValue":"={{ $('Workflow Input Trigger').item.json.networks }}","rightValue":"Facebook","operator":{"type":"array","operation":"contains","rightType":"any"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Facebook"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d40ec819-7152-4f35-85b6-1aa4da54ebfa","leftValue":"={{ $('Workflow Input Trigger').item.json.networks }}","rightValue":"Instagram","operator":{"type":"array","operation":"contains","rightType":"any"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Instagram"}]},"options":{"allMatchingOutputs":true}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[660,-20],"id":"380dd8a5-f843-4602-abe2-6f289071877e","name":"Switch"},{"parameters":{"numberInputs":4},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[1520,-20],"id":"1034a997-2e8d-4b78-8e99-d441cecf2329","name":"Merge"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"=Act as an informed LinkedIN expert in artificial intellifence and chatbots. Te voy a proporcionar un articulo de blog:{{ $json.choices[0].message.content }}. You will create an optimized LinkedIn post based on that article, incorporating LinkedIn posting best practices, escribiendo en español de españa sin usar modismos de sudamerica and using the structure outlined below:","role":"=system"},{"content":"1. Provide the Context or Main Idea: Start with a brief summary or main point of the article you want to transform into a LinkedIn post. This includes the key message or argument the article presents.\n2. Add Personal or Relatable Anecdotes: If appropriate, include any personal experiences or relatable anecdotes that can connect the context or main idea to real-life scenarios. This could be your own experiences or generalized scenarios that readers might find relatable.\n3. Incorporate Engaging Elements: Mention any specific elements you want included to make the post engaging, such as:\n   1. Questions to the audience to provoke thought or responses.\n   2. Compelling statistics or data points to support the argument.\n   3. Calls to action, encouraging readers to think, act, or share their own experiences.\n   4. Relevant emojis or symbols for emphasis and to draw attention to key points.\n4. Specify Hashtags and Keywords: Provide a list of hashtags or important keywords that should be included to enhance the visibility and relevance of the post on LinkedIn. These should be relevant to the main theme and helpful for reaching the right audience.\n5. Optional Additional Details: If there are any other specific details you want included, such as references to significant life events (as seen in your examples), or if there’s a specific layout or structure (like a list format or a direct comparison), mention these as well.\n6. Do not include the original URL at the bottom of the article. It should read as a complete LinkedIN post on its own merits, like the below examples.\n7. Do not include any any of this prompt or guidelines provided in your post. You must include only what is in your instructions to create an excellent linkedIN post\n8. Importante:  No utilices ningun simbolo (\"\" o **) para resaltar el texto\n \nHere are a few examples of excellent LinkedIN posts\n \nExample 1\nIs anyone still actually debating work from home options?\n \nAt previous companies, I used to put on a pressed shirt and slacks and drive 35 minutes to an office that smelled of cleaning product and coffee.\n \nI wasn’t comfortable for the entire day. If I felt tired and needed a break - too bad, look busy.\n \nIf I wanted to just get up and leave for 20 mins to collect my thoughts or be outside - too bad, look busy.\n \nNow I’ll have breakfast with my wife and kids and start work relatively early. I go outside and hit golf balls against a net when I need to think. I listen to podcasts at full volume. I sing.\n \nI take a gosh darn peloton break if I feel like it. I have never been more productive, because this is how humans thrive.\n \nAnd when I miss my work friends and general contact, which I do from time to time, I’ll head up to HQ and see them.\n \nAny employer dictating in-office work doesn’t trust you to be an adult and do your job. The option should be there - but it must actually be optional.\n \n#work #workfromhome #mentalhealth #peloton\n \nExample 2\n \nI recently discovered a hyper-effective LinkedIn post strategy.\n \nAnd today, I'm gonna let you steal it.\n \nHere it is:\n \nCombine significant life events with useful content.\n \n\"I turn 32 today. Here are 32 things I wish I knew 10 years ago:\"\n \n\"My business hit $1 million ARR today. Here's how I built it:\"\n \n\"I was offered my dream job today. Here are 7 steps I took to get it:\"\n \nThe event attracts engagement and the content attracts followers.\n \nTry it.\n \nP.S. 👇\n \n \nExample 3\n \nJust a quick shout out to content creators! If you see less impressions and lower reach, it's probably not just you.\n \nWe've seen a serious decrease in impressions in the last month, with equal engagement.\nThese are some numbers but we are still researching:\n \n🔻 -25% (!) on posts with more or less same engagement (likes and comments)\n🔻 -30% less impressions for text only posts\n🔻 -20% reach for document posts\n🔻 -35% reach for Newsletters (with over 15.000 subscribers)\n \nMore data will follow in September, but my own stats went down from 18.000 average impressions per post to 14.000 average.\n \n❓ Have you had similar experiences?\n❓ What content performs the best for you?\n \nExample 4\n\"We are hiring,\" \"Join our team,\" \"Here are our open positions.\"\n \nIf this is the way you are communicating your job ads on Linkedin, you are losing candidates. Here is why 👇\n \nYour post will only attract people actively looking for a new job. And usually, that is a minority.\nYou are failing to attract 3 relevant audiences.\n \nFirst, people who are not actively looking for a new job but could be interested in seeing what you are offering. They could consider applying or approaching you for more information if you get their attention.\n \nSecond, the friends and family of potential candidates. If you get their attention, they will refer your post to those interested.\n \nThird, people who are not interested in this particular job, but might decide to visit your careers page and find another position that is a better fit.\n \nIn addition, never lose sight of how people perceive you and your company. If you don't show that you care about your open position, why should the candidates?\n \nA few extra minutes of your time can make a big difference in attracting talent.\n \n \nExample 5\n \nA lot of Marketers assume SEO ranks are stable.\n \nOnce you rank #1 (or any position for that purpose), you \"made it\" and will stay there with a little maintenance work.\n \nIt makes sense to think that way because that's how it used to be.\n \nBut not anymore.\n \nAn example: the ranks for \"black dress\" (a keyword with 209,000 monthly searches in the US alone) flip almost daily.\n \nThe top 3 results have been bouncing between positions #1 and #7 over the last 6 months.\nWe need to anticipate rank fluctuations and define healthy position ranges, so we can optimize pages when they rank outside them.\n \nStart by monitoring rank fluctuations for your keywords, either in a 3rd party tool like Semrush or Ahrefs or with Google Search Console.\n \nA few more tips:\n \n1/ Analyze your top keywords and how much they fluctuate (will differ by competitiveness, user intent, etc.)\n \n2/ Add rank fluctuations to your organic traffic projections\n \n3/ Define alerts when keywords cross healthy rank ranges (most rank trackers can do this)\nRemember, using the outdated mental model of stable ranks means your traffic projections might be faulty and you constantly stress out over dropping ranks.\n \nGoogle is constantly a/b testing different results.\n \nUse the approach above and build a model for your site.\n \n \nExample 6\nRunning a company is a lot like making a great cup of coffee ☕️\n \n1) Start by deciding what kind of coffee you would like to make and creating the recipe (think: “vision”).\n \n2) Bring together the best ingredients you can. A better the coffee beans, grinder, filter, etc. will make a far better coffee. Same with the team at your company. You’re only as good as your weakest team member.\n \n3) Measure everything, test, and continually optimise over time.\n \n4) Be patient, and don’t rush it (this one is for me!!).\n \n5) Enjoy the results!\n \nWhat am I missing here?!\n \n#b2b #growth #marketing #buildinpublic #coffee\n \n \nExample 7\n \nThe UK can't afford to be left behind during this Fourth Industrial Revolution for the sake of the wealth of the nation, and its citizens.\n \n⏰ In a world of exponential change, hesitation is a recipe for irrelevance.\n \n🤔 You might doubt the transformative power of AI, but can you/we afford to be wrong given the compounding cost of inaction?\n \n🌍 Other nations are seizing this opportunity - the UK must do the same.\n \n🇬🇧 The UK should maintain its leadership in innovation, support entrepreneurship, and seek to maximise inclusivity.\n \n📢 This is my call to action - we must unite, invest, and embrace the AI revolution.\n \n🚢 The AI ship will leave the harbour, permanently. Let's make sure the UK is on it.\n \nhashtag#AI hashtag#artificialintelligence hashtag#uk hashtag#ukeconomy"}]},"options":{"maxTokens":1400}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[880,-180],"id":"832a5d64-8c7a-433c-ac29-33be398e0f24","name":"Linkedin","credentials":{"openAiApi":{"id":"nfrELHY00pekEuCZ","name":"OpenAi N8N-TESTS"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"Act as an informed twitter expert in the finance industry. You will be provided with a piece of content (this could be an article, a summary, a linked post etc..). You will create an optimized Twitter post based on that content, incorporating Twitter posting best practices, escrito en español de españa sin utilizar modismos de sudamerica and using the structure outlined below:","role":"system"},{"content":"=Please read the following content: {{ $json.choices[0].message.content }} and create an engaging tweet based on its main points, using the tweet best practices provided:\n \n1. Keep the tweet concise, focusing on one clear message.\n2. Use the format Hook-Explain-Question-Hashtags\n3. Add a space after the hook after explain and before the hashtags\n4. Your output must be a maximum 240 characters maximum (including emojis)\n5. Keep it factual and clear to understand.\n6. Do not start a sentence with an emoji\n7. Incorporate a thought-provoking question at the end of the tweet\n8. Use 1-2 relevant hashtags to increase visibility but avoid overusing them.\n9. Do not include any links or recommend the original content\n10. Never start a sentence with an emoji\n11. Where there are statistics or data, you must reference that in the tweet\n12. Do not add any additional information\n13. For the avoidance of doubt, the message shall not exceed 220 characters\n14. You must not say ‘here is the suggested tweet’, you must only provide the tweet itself with no other supporting text\n \nThink step-by-step.\n \nFor example,\n \nExample text 1:\nAccording to the article, house sales in the UK are expected to increase in the coming months. The Royal Institution of Chartered Surveyors (Rics) reported a steady improvement in housing market sentiment in March, with rising demand from home buyers and an increase in the supply of available properties for the fourth consecutive month. 1 A net balance of 8% of property professionals saw an increase in inquiries from new buyers in March, the most positive result since February 2022. Additionally, a net balance of 13% reported a rise in new property listings for sale. 1 Over the next three months, a net balance of 13% of professionals expect house sales to increase, while over the next year, a balance of 46% are anticipating a jump in sales. 1 However, elevated mortgage rates are likely to limit the acceleration of housing market activity. The article notes that house prices appear to be stabilizing, with a net balance of 4% of professionals finding that prices fell in March. 1 The senior economist at Rics commented that the gradual recovery in demand, coupled with the prospect of interest rate cuts later in the year, should continue to support the housing market to some degree. 1\n \nExample Tweet 1:\nBreaking: UK House prices expected to rise this quarter, according to RICS 📈 There has been a13% rise in property listings.\n \nWhat are you seeing in your market? 🤔\n \nExample text 2:\nThe industry needs to provide more properties to second-time buyers and downsizers, rather than overwhelmingly focusing on first-time buyers, estate agency platform eXp UK has claimed.\nThe company said there are 9.4 million 29 to 40 year olds across the nation, accounting for just 25% of the total population aged 29 and above – the lowest proportion of all homebuyer demographics.\n \nDespite this, homes suitable for first-time buyers accounts for the largest proportion of housing market stock, with an estimated 5.4 million flats making up 23% of total housing stock, while some 6.6 million terraced homes make up 28% of all available housing.\nAdam Day, head of eXp UK, said: “There’s no denying that first-time buyers are at a severe disadvantage when it comes to climbing the property ladder but it’s clear that the government’s insistence on fuelling demand while neglecting supply is only making the issue worse.\n \n“At the same time, our research shows that when it comes to the issue of supply, the market is seriously out of kilter, with an oversupply of first-time buyer suitable homes to serve the smallest proportion of the homebuying population.\n \n“Yes, more must be done to incentivise downsizers in particular, as it will help unclog the higher rungs of the housing market, however, we need to deliver homes suitable to do so if we have a chance of rebalancing the market.”\n \nSecond home buyers aged 41 to 64 form the most significant chunk of the nation’s homebuyers, accounting for 47% of the homebuying population aged 29 and above.\nAt 28%, downsizers also account for a larger proportion of the homebuying population compared to first-time buyers.\n \nExample Tweet 2:\nThe UK housing industry needs change 🤷\n \nAccording to the estate agency platform eXp, Despite the 29-40 age group being the smallest homebuyer demographic at just 25%, the majority of the available housing stock consists of flats and terraced homes suitable for first-time buyers.\n \nIs it too difficult for first-time buyers at the moment? 🤔\n \n\n"}]},"options":{"maxTokens":200}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[880,-60],"id":"6bd64b6e-f00c-4aac-adb3-31b87d0a008b","name":"Twitter","credentials":{"openAiApi":{"id":"nfrELHY00pekEuCZ","name":"OpenAi N8N-TESTS"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"=You are a social media content specialist with a decade of experience in creating compelling, high-engagement post copy for leading brands on Facebook. \n\n\nYou must consult the tone of voice guidelines in all of the responses you create. You must write by those guidelines. Before you write any text, thoroughly read through and understand the tone of voice file.\n\n\nDO NOT title the post ‘facebook’, just provide the output. Do not include any other additional information how or the response is good. Provide only the output according to the below guidelines.\n\n\n\n\nPlease provide your response in plain text format, without any special formatting elements such as hashtags, asterisks, or other markdown syntax. Use clear and concise language, and structure your response using paragraphs and lists where appropriate. You may use emoji’s as directed below.\n\nYou will be provided with a blog post: {{ $json.choices[0].message.content }} \n\nuse your expertise to generate an optimized post for facebook escribiendo en español de españa sin usar modismos de sudamerica and using the structure outlined below:","role":"system"},{"content":"\nInstructions\n\n\nIf an image is provided, identify the emotions it evokes, the story it tells, and any unique details to inspire caption angles. If text is provided, analyze the key points, themes or messages to highlight in the captions.\n\n\nYour captions should follow these guidelines:\n- Grab attention in the first 125 characters with curiosity, emotion, questions, or a bold statement \n- Use this formula to write content: Hook, Context, Details/Story, Lesson/Insight, CTA, Hashtags\n- Aim for a post length that tells a complete story but keeps the core message accessible within the first two setneces\n- Seamlessly weave in 3-5 keywords that the target audience may use in searches.\n- If you are given an article, do not write about it in first person. Use they, them and their names\n- Otherwise, use first person pronouns, where appropriate\n- Include a mix of 5-15 branded, community, niche and popular hashtags. Put key hashtags early so visible in caption preview \n- Format with line breaks every 8-11 words and paragraphs of 21 words max. Use punctuation, emojis, or caps to make key parts like CTA stand out. Never place two emoj’s next to eachother. One per paragraph maximum. Do not include an emoji in every paragraph\n- Provide value, satisfy curiosity, and have a clear purpose with caption content\n-When you finish the post, put a link to the blog https://dev4i.com/blog with a CTA that invites you to learn more about the news.\n- End with a compelling CTA encouraging likes, comments, saves, or click-throughs. Craft this as an engaging question to boost response. Tap into FOMO, incentives, value or urgency\n- Maintain a distinctive brand voice and personality throughout that's consistent with\n- Before finalizing, fact-check any claims and proofread each caption for spelling, grammar and brand style consistency.\n- Do not make it cringe\n- It is imperative that you add paragraphs in the results\n- You must only every use emoji’s at the End of sentences, for example: Pioneering a safer AI future at the #AISeoulSummit with UK & South Korea 🤖 #Innovation #GlobalProgress\n\n\n\n\nPut the longer 70-100+ word caption here, with:\n- Opening hook in first 125 characters  \n- Context\n- Details/Story\n- Lesson/Insight  \n- Engaging question as CTA\n- 11-30 hashtags \n- Keywords, emojis and formatting per guidelines\n\n\nBrand voice\n\n\nKeep the tone of voice:\n1. Clear and concise, using everyday words instead of jargon. Aim for <20 words per sentence\n2. Inclusive, transparent and positive. Use active voice and choose words thoughtfully \n3. Explanatory, providing context for technical concepts in plain language\n4. Sparing but strategic with emojis to add personality and clarity \n5. Focused on what matters most to readers, prioritizing key information upfront\n6. Positive and ambitious, celebrating successes without putting down others\n7. Transparent about who is responsible for actions using active voice  \n8. Inclusive by avoiding colloquialisms or idioms that may not translate across cultures\n9. Varied in sentence length for natural rhythm, but mostly concise and scannable\n10. Broken up with subheadings and bullets for longer passages"}]},"options":{"maxTokens":300}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[880,60],"id":"b1ff312b-0849-49fd-a974-3cb84adf5e80","name":"Facebook","credentials":{"openAiApi":{"id":"nfrELHY00pekEuCZ","name":"OpenAi N8N-TESTS"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"=You are an Instagram caption expert with 10 years of experience crafting engaging, high-performing post copy for top brands. Use your expertise to generate on an optimised caption to accompany the following:\n\n\nYou must consult the tone of voice guidelines in all of the responses you create. You must write by those guidelines. Before you write any text, thoroughly read through and understand the tone of voice file.\n\n\nPlease provide your response in plain text format, without any special formatting elements such as hashtags, asterisks, or other markdown syntax. Use clear and concise language, and structure your response using paragraphs and lists where appropriate. You may use emoji’s as directed below\n\nYou will be provided with a blog post: {{ $json.choices[0].message.content }} \n\nuse your expertise to generate an optimized post for Instagram escribiendo en español de españa sin usar modismos de sudamerica and using the instructions outlined below:\n","role":"system"},{"content":"Instructions\n\n\nYour captions should follow these guidelines:\n- Grab attention in the first sentence with curiosity, emotion, questions, or a bold statement \n- Use this caption formula: Hook, Context, Details/Story, Lesson/Insight, CTA, Hashtags\n- Make the caption a punchy one-liner\n- Naturally integrate 1-2 keywords the audience might use to find the post\n- If you are given an article, do not write about it in first person. Use they, them and their names\n- Otherwise, use first person pronouns, where appropriate\n- Include a mix of 1-4 branded, community, niche and popular hashtags. Put key hashtags early so visible in caption preview \n- Never place two emojis next to eachother. \n- Make the short caption intriguing and relevant\n- Where appropriate, include a CTA encouraging likes, comments, saves, or click-throughs. Craft it as an engaging question to boost response. Tap into FOMO, incentives, value or urgency\n- Maintain a distinctive brand voice and personality throughout that's consistent with\n- Before finalizing, fact-check any claims and proofread each caption for spelling, grammar and brand style consistency.\n- Do not make it cringe\n- You must only every use emoji’s at the End of sentences. Here is a good example of the kind of one liner you must generate: Pioneering a safer AI future at the #AISeoulSummit with UK & South Korea 🤖 #Innovation #GlobalProgress\n\n\nWhen creating a response you must include a short 1-2 sentence caption here, with 1-2 relevant emojis and 2-3 key hashtags only. Make the opening line attention-grabbing.\n\n\nAdditional GUIDELINES:\n0. Do not include anything other than the desired output\n2. Clear and concise, using everyday words instead of jargon. Aim for <20 words per sentence\n2. Inclusive, transparent and positive. Use active voice and choose words thoughtfully \n3. Explanatory, providing context for technical concepts in plain language\n4. Sparing but strategic with emojis to add personality and clarity \n5. Focused on what matters most to readers, prioritizing key information upfront\n6. Positive and ambitious, celebrating successes without putting down others\n7. Transparent about who is responsible for actions using active voice  \n8. Inclusive by avoiding colloquialisms or idioms that may not translate across cultures\n9. Varied in sentence length for natural rhythm, but mostly concise and scannable\n10. Broken up with subheadings and bullets for longer passages\n11. Please provide your response in plain text format, without any special formatting elements such as hashtags, asterisks, or other markdown syntax. Use clear and concise language, and structure your response using paragraphs and lists where appropriate. \n\n\nDo not use * or # in your response. Use plain text, emoji’s and line breaks.\n\n\nExample output:\nParliament in action: a defining vote on the Rwanda migration policy awaits. Wind of change or political storm? #RwandaBill #UKPolitics 🌬️🏛️\n—\nDecisions at the crossroads: as Parliament votes on the contentious Rwanda migrant relocation bill, the nation watches with bated breath. Reports reveal potential replicas with countries like Armenia hanging in the balance, resting on Rwanda's outcome.\nWith 534 Channel crossings in a single day, this bill navigates the tricky waters between UK policy and the call for human dignity.\nAmendments from the House of Lords have been met with government pushback, all under the scrutiny of a critical public eye.\nCan the UK's policies align with international laws and provide true safety for asylum seekers? Will Labour's alternative targeting criminal gangs prove more effective?\nWatch this space. What are your thoughts on this pivotal moment in migration policy? ⚖️🗳️\n#RwandaPolicy #AsylumSeekers #MigrationDebate #UKParliament #HumanDignity #InternationalLaw #ModernSlavery #GlobalMigration #ChannelCrossings #UKGovernment #PoliticalEditorial #EthicalPolicy #PublicAccountability #LegislativeChallenge #LawAndOrder #NationalSecurity #SafeHarbours #VoteOutcome"}]},"options":{"maxTokens":1000}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[880,180],"id":"5e4b2545-9d38-4571-863d-fcd1ae41c18f","name":"Instagram","credentials":{"openAiApi":{"id":"nfrELHY00pekEuCZ","name":"OpenAi N8N-TESTS"}}},{"parameters":{"assignments":{"assignments":[{"id":"3e5ed4c9-3230-4ed9-b233-1566b11ff3c2","name":"DATE","value":"={{ $now.toISO() }}","type":"string"},{"id":"945d6697-8d25-498b-8486-57ecafb9c61b","name":"PUBLISHER","value":"={{ $('Workflow Input Trigger').item.json.publisher }}","type":"string"},{"id":"78d58682-194b-4c8d-9101-675cfee4995d","name":"STATUS","value":"NOT PUBLISHED","type":"string"},{"id":"e98adf37-d73c-466a-82b1-b07c1a6c62c8","name":"NETWORK","value":"Twitter","type":"string"},{"id":"d82187eb-7f6c-42dd-ae77-01b0969626b5","name":"GROUP_ID","value":"={{ $('GROUP_ID Generate').item.json.group_id }}","type":"string"},{"id":"551fcdb0-abf9-49bb-9347-9eec799fa998","name":"CONTENT","value":"={{ $json.message.content }}","type":"string"},{"id":"2f668ec3-5981-4d3d-8e25-dfaddf8393ea","name":"USER_ID","value":"={{ $('Workflow Input Trigger').item.json.user }}","type":"string"},{"id":"151381e4-4527-4a01-a64e-ac6b3079e1ec","name":"IMAGE_SELECTED","value":"\"\"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1240,-60],"id":"8bc44ca0-8e2b-47dc-ad91-8e006b29eef9","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"3e5ed4c9-3230-4ed9-b233-1566b11ff3c2","name":"DATE","value":"={{ $now.toISO() }}","type":"string"},{"id":"945d6697-8d25-498b-8486-57ecafb9c61b","name":"PUBLISHER","value":"={{ $('Workflow Input Trigger').item.json.publisher }}","type":"string"},{"id":"78d58682-194b-4c8d-9101-675cfee4995d","name":"STATUS","value":"NOT PUBLISHED","type":"string"},{"id":"e98adf37-d73c-466a-82b1-b07c1a6c62c8","name":"NETWORK","value":"Linkedin","type":"string"},{"id":"d82187eb-7f6c-42dd-ae77-01b0969626b5","name":"GROUP_ID","value":"={{ $('GROUP_ID Generate').item.json.group_id }}","type":"string"},{"id":"551fcdb0-abf9-49bb-9347-9eec799fa998","name":"CONTENT","value":"={{ $json.message.content }}","type":"string"},{"id":"baac1524-12ff-4db5-b0f2-5eb0c3689eb4","name":"USER_ID","value":"={{ $('Workflow Input Trigger').item.json.user }}","type":"string"},{"id":"ddb5ddb3-2f63-4b9a-aad2-e28a04d22c6c","name":"IMAGE_SELECTED","value":"\"\"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1240,-180],"id":"3e1d5388-abd8-4ed2-9cd2-5c5a45ed4aa7","name":"Edit Fields1"},{"parameters":{"assignments":{"assignments":[{"id":"3e5ed4c9-3230-4ed9-b233-1566b11ff3c2","name":"DATE","value":"={{ $now.toISO() }}","type":"string"},{"id":"945d6697-8d25-498b-8486-57ecafb9c61b","name":"PUBLISHER","value":"={{ $('Workflow Input Trigger').item.json.publisher }}","type":"string"},{"id":"78d58682-194b-4c8d-9101-675cfee4995d","name":"STATUS","value":"NOT PUBLISHED","type":"string"},{"id":"e98adf37-d73c-466a-82b1-b07c1a6c62c8","name":"NETWORK","value":"Facebook","type":"string"},{"id":"d82187eb-7f6c-42dd-ae77-01b0969626b5","name":"GROUP_ID","value":"={{ $('GROUP_ID Generate').item.json.group_id }}","type":"string"},{"id":"551fcdb0-abf9-49bb-9347-9eec799fa998","name":"CONTENT","value":"={{ $json.message.content }}","type":"string"},{"id":"203c9ff5-15d1-4ca2-b323-f4847439ed41","name":"USER_ID","value":"={{ $('Workflow Input Trigger').item.json.user }}","type":"string"},{"id":"ad13ae11-5a99-4624-b409-af8ab99ac97a","name":"IMAGE_SELECTED","value":"\"\"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1240,60],"id":"e4296a20-f7ea-4759-8fce-09fc590b5335","name":"Edit Fields2"},{"parameters":{"assignments":{"assignments":[{"id":"3e5ed4c9-3230-4ed9-b233-1566b11ff3c2","name":"DATE","value":"={{ $now.toISO() }}","type":"string"},{"id":"945d6697-8d25-498b-8486-57ecafb9c61b","name":"PUBLISHER","value":"={{ $('Workflow Input Trigger').item.json.publisher }}","type":"string"},{"id":"78d58682-194b-4c8d-9101-675cfee4995d","name":"STATUS","value":"NOT PUBLISHED","type":"string"},{"id":"e98adf37-d73c-466a-82b1-b07c1a6c62c8","name":"NETWORK","value":"Instagram","type":"string"},{"id":"d82187eb-7f6c-42dd-ae77-01b0969626b5","name":"GROUP_ID","value":"={{ $('GROUP_ID Generate').item.json.group_id }}","type":"string"},{"id":"551fcdb0-abf9-49bb-9347-9eec799fa998","name":"CONTENT","value":"={{ $json.message.content }}","type":"string"},{"id":"42ea98fd-328d-4f7c-846f-c90a57489ffd","name":"USER_ID","value":"={{ $('Workflow Input Trigger').item.json.user }}","type":"string"},{"id":"75769a6e-ae67-478e-9d4b-c5e49c0ca1ae","name":"IMAGE_SELECTED","value":"\"\"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1240,180],"id":"d3cf9d2c-33c5-49b7-8a1b-9c2a6c19fb91","name":"Edit Fields3"},{"parameters":{"action":"generate","dataPropertyName":"group_id"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[440,0],"id":"39a26631-2743-4ab8-a512-bb3a03ca44f1","name":"GROUP_ID Generate"},{"parameters":{"operation":"insert","collection":"posts","fields":"DATE, PUBLISHER, STATUS, NETWORK, GROUP_ID, CONTENT,USER_ID","options":{"dateFields":"DATE"}},"type":"n8n-nodes-base.mongoDb","typeVersion":1.1,"position":[1720,0],"id":"0b26cb01-7af5-4c13-b4f4-dd30788c1991","name":"MongoDB","credentials":{"mongoDb":{"id":"gtW5lNnrIIPzsmLc","name":"MongoDB account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"dObo8TeXMeNkj4X0","mode":"list","cachedResultName":"RRSS - DEMOS Create demo images"},"workflowInputs":{"mappingMode":"defineBelow","value":{"GROUP_ID":"={{ $('GROUP_ID Generate').item.json.group_id }}","NETWORKS":"={{ $('Workflow Input Trigger').item.json.networks }}"},"matchingColumns":["GROUP_ID"],"schema":[{"id":"GROUP_ID","displayName":"GROUP_ID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"NETWORKS","displayName":"NETWORKS","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":false}],"attemptToConvertTypes":true,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1920,0],"id":"f36551ea-e1a2-473d-862c-f5c94b64f0e5","name":"Generate Demo Images"}],"connections":{"Workflow Input Trigger":{"main":[[{"node":"Perplexity","type":"main","index":0}]]},"Perplexity":{"main":[[{"node":"GROUP_ID Generate","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Linkedin","type":"main","index":0}],[{"node":"Twitter","type":"main","index":0}],[{"node":"Facebook","type":"main","index":0}],[{"node":"Instagram","type":"main","index":0}]]},"Merge":{"main":[[{"node":"MongoDB","type":"main","index":0}]]},"Linkedin":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Twitter":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Facebook":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Instagram":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Edit Fields1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Edit Fields3":{"main":[[{"node":"Merge","type":"main","index":3}]]},"GROUP_ID Generate":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Generate Demo Images":{"main":[[]]},"MongoDB":{"main":[[{"node":"Generate Demo Images","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6fec990f-e9ae-4bf0-b7d3-395d6252e9ba","triggerCount":0,"tags":[{"createdAt":"2025-02-02T18:14:26.987Z","updatedAt":"2025-02-02T18:14:26.987Z","id":"WAc4AutVFD0y0pzi","name":"DEV4i"},{"createdAt":"2025-02-02T20:02:16.513Z","updatedAt":"2025-02-02T20:02:16.513Z","id":"qdEm03HMpLXoqwIP","name":"RRSS"},{"createdAt":"2025-02-02T20:02:16.542Z","updatedAt":"2025-02-02T20:02:16.542Z","id":"SGqMVFKOQKYQk2ym","name":"DEVELOPMENT"},{"createdAt":"2025-02-03T10:14:40.015Z","updatedAt":"2025-02-03T10:14:40.015Z","id":"FHk2hH41AwtIXKuX","name":"ChatGPT"},{"createdAt":"2025-02-03T10:14:40.017Z","updatedAt":"2025-02-03T10:14:40.017Z","id":"ITzVvgWdNgSUZfhs","name":"Perplexity"},{"createdAt":"2025-02-03T12:41:23.136Z","updatedAt":"2025-02-03T12:41:23.136Z","id":"3hSshfsYWh1Qh9Je","name":"MongoDB"}]},{"createdAt":"2025-02-17T09:27:16.790Z","updatedAt":"2025-02-17T09:27:16.790Z","id":"rkJKKa0oe78HUXAs","name":"DEV - Publish webhook","active":false,"nodes":[{"parameters":{"path":"cd493a9f-0f8a-4899-994d-ae57ebcc6c49","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"6f224577-8213-4de1-992e-e940b93da305","name":"Webhook","webhookId":"cd493a9f-0f8a-4899-994d-ae57ebcc6c49"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[220,0],"id":"217d3ba1-158a-4283-824c-7cb74bdb7092","name":"Switch"}],"connections":{"Webhook":{"main":[[{"node":"Switch","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"9b093ea0-4c73-4e7f-9da3-23bf29716c83","triggerCount":0,"tags":[]}]