2025_02_02/backup_n8n_131223.json
[{"createdAt":"2025-02-02T17:23:31.582Z","updatedAt":"2025-02-02T18:03:58.520Z","id":"jQbli0nzwtZA2ge3","name":"Backup Test","active":false,"nodes":[{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[200,0],"id":"9668ce2c-10af-492d-82b4-c0d8cdda2051","name":"n8n","credentials":{"n8nApi":{"id":"yDWM5u1wRnpDOstE","name":"n8n account"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"8827e6aa-9af9-49d7-8cf0-24a0ab82e49e","name":"When clicking ‘Test workflow’"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"toniruiz-dev4i","mode":"name"},"repository":{"__rl":true,"value":"testbackupn8n","mode":"list","cachedResultName":"testbackupn8n","cachedResultUrl":"https://github.com/toniruiz-dev4i/testbackupn8n"},"filePath":"={{ $('n8n').item.json.name.toLowerCase().replaceAll(' ','_') }}_{{ $('n8n').item.json.updatedAt.replaceAll(':','_').replaceAll('-','_').replaceAll('.','_') }}.json","binaryData":true,"commitMessage":"=Changes saved on {{ $('n8n').item.json.updatedAt  }}","additionalParameters":{"author":{"name":"N8N","email":"n8n@dev4i.com"}}},"type":"n8n-nodes-base.github","typeVersion":1,"position":[660,0],"id":"bcf9ca3e-4204-4937-a732-c3d0c3a82d46","name":"GitHub","credentials":{"githubApi":{"id":"9UChc4r8LoeoSTlw","name":"GitHub account"}}},{"parameters":{"operation":"toJson","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[420,0],"id":"2b4f56f0-4e87-46b4-a77b-8c2a6b67015f","name":"Convert to File"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"n8n","type":"main","index":0}]]},"n8n":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"GitHub","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8c36f176-09ba-40ec-b334-ff3bd38192a1","triggerCount":0,"tags":[]},{"createdAt":"2025-02-02T18:04:50.548Z","updatedAt":"2025-02-02T18:04:50.548Z","id":"r8xG8BfJx2Oc6LMR","name":"Test Workflow 2","active":false,"nodes":[{"parameters":{"html":"<!DOCTYPE html>\n\n<html>\n<head>\n  <meta charset=\"UTF-8\" />\n  <title>My HTML document</title>\n</head>\n<body>\n  <div class=\"container\">\n    <h1>This is an H1 heading</h1>\n    <h2>This is an H2 heading</h2>\n    <p>This is a paragraph</p>\n    <script async src=\"https://telegram.org/js/telegram-widget.js?22\" data-telegram-login=\"DEV4iN8Nbot\" data-size=\"large\" data-auth-url=\"https://dev4in8n-eze9gjcphudfcvg5.northeurope-01.azurewebsites.net/webhook-test/dashboard\" data-request-access=\"write\"></script>\n  </div>\n</body>\n</html>\n\n<style>\n.container {\n  background-color: #ffffff;\n  text-align: center;\n  padding: 16px;\n  border-radius: 8px;\n}\n\nh1 {\n  color: #ff6d5a;\n  font-size: 24px;\n  font-weight: bold;\n  padding: 8px;\n}\n\nh2 {\n  color: #909399;\n  font-size: 18px;\n  font-weight: bold;\n  padding: 8px;\n}\n</style>\n\n<script>\nconsole.log(\"Hello World!\");\n</script>"},"id":"6db25492-fcff-4fd2-9378-20e0c188e6b5","name":"HTML","type":"n8n-nodes-base.html","typeVersion":1.2,"position":[220,0]},{"parameters":{"html":"<!DOCTYPE html>\n\n<html>\n<head>\n  <meta charset=\"UTF-8\" />\n  <title>ZONA PRIVADA</title>\n</head>\n<body>\n  <div class=\"container\">\n    <h1>Estas autorizado</h1>\n  </div>\n</body>\n</html>\n\n<style>\n.container {\n  background-color: #ffffff;\n  text-align: center;\n  padding: 16px;\n  border-radius: 8px;\n}\n\nh1 {\n  color: #ff6d5a;\n  font-size: 24px;\n  font-weight: bold;\n  padding: 8px;\n}\n\nh2 {\n  color: #909399;\n  font-size: 18px;\n  font-weight: bold;\n  padding: 8px;\n}\n</style>\n\n<script>\nconsole.log(\"Hello World!\");\n</script>"},"id":"7a604d1f-1e34-4bea-8338-6977cb90dd13","name":"HTML2","type":"n8n-nodes-base.html","typeVersion":1.2,"position":[1960,320]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0f9835d9-8b15-4d0e-b3b0-d1231e0a1905","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"d460f13e-8c3e-4deb-8622-c582962b38d7","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1640,360]},{"parameters":{"respondWith":"text","responseBody":"={{ $json.html }}","options":{}},"id":"a78c0dd6-69fe-4680-a014-7206c5515a24","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[440,0]},{"parameters":{"respondWith":"text","responseBody":"={{ $json.html }}","options":{}},"id":"babd65fe-2e99-43b4-a4bb-d62a631ed89b","name":"Respond to Webhook1","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2120,320]},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"=query.auth_date"},{"fieldToAggregate":"query.first_name"},{"fieldToAggregate":"query.id"},{"fieldToAggregate":"query.photo_url"},{"fieldToAggregate":"query.username"}]},"options":{}},"id":"b551a2f0-ec55-4d6e-93fd-e0b06896428c","name":"Aggregate","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-20,220]},{"parameters":{"jsCode":"const dataCheckString = Object.entries($input.first().json)\n        .map(([key, value]) => `${key}=${value}`)\n        .join('\\n');\n\nconst hexBuffer = Buffer.from('8104876845:AAFMenb0Wtml2H-R5hdDKO1IoYRXFNvO4rs','hex');\n\nreturn [{ data_check_string: dataCheckString, token_hex: hexBuffer }];"},"id":"0fe41102-f080-4d10-9db7-5c11a8fb117d","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[160,220]},{"parameters":{"path":"login","responseMode":"responseNode","options":{"ignoreBots":true}},"id":"ce553804-b694-4d58-8f3c-4f0ff2135d7b","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"webhookId":"d8d2b8c3-b457-42c8-86f5-a0b00bbb98c9"},{"parameters":{"action":"hmac","type":"SHA256","value":"={{ $json.data_check_string }}","secret":"={{Buffer.from('8104876845:AAFMenb0Wtml2H-R5hdDKO1IoYRXFNvO4rs','hex')}}"},"id":"1f445778-3479-4c59-b8c3-dbfb20e93b17","name":"Crypto","type":"n8n-nodes-base.crypto","typeVersion":1,"position":[380,220]},{"parameters":{"path":"dashboard","responseMode":"responseNode","options":{}},"id":"5f060246-864c-4bd6-80a8-b02a8f1ad2e2","name":"Webhook1","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-200,220],"webhookId":"8bc87762-8a6a-46bc-b194-97fc9ec70ca5"}],"connections":{"HTML":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"If":{"main":[[{"node":"HTML2","type":"main","index":0}]]},"HTML2":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Crypto","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"HTML","type":"main","index":0}]]},"Crypto":{"main":[[{"node":"If","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"Aggregate","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook1":[{"json":{"headers":{"accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8","host":"dev4in8n-eze9gjcphudfcvg5.northeurope-01.azurewebsites.net","user-agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/17.4.1 Safari/605.1.15","accept-encoding":"gzip, deflate, br","accept-language":"es-ES,es;q=0.9","authorization":"Basic ZGV2NGk6c2VuY2lsbG95ZnVuY2lvbmFs","cookie":"rl_session=RudderEncrypt%3AU2FsdGVkX1%2BPBCurWYdKy3swFReIIzuWrURsOJ1vGLScC%2FcYvEg8GmLCiGUDZrTyK0536iFq%2BBiiW0MzeYEYVo%2FvZIxZ499BSJG9RZTcj6YGMKK2sFLEyLYfdidy3AQ7%2F3twZqVsvvNCCHKCRTErVQ%3D%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22distinct_id%22%3A%2251fbcfa544aa9e929f1847d65d196becabf6e814138446022270703e39675c76%235db8d070-dd4f-48a1-bf77-2b98a147ee09%22%2C%22%24sesid%22%3A%5B1732523116979%2C%220193626c-27d6-7cdb-88f9-2a78514b5bf4%22%2C1732523075541%5D%2C%22%24epp%22%3Atrue%7D; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX19DPMe2aeQyoPjKmtN66Y8IQ4K5bCUFE6LOpB2UYOu5qrQI47wd6z99gunt2yQ1C6Nt201u6SqXDA%3D%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX19oNTMArS%2FKUgLZF6WXzmewx619br7Ml9qpDB7XzvXGalrvzCf3Xl9kStJ04ByGijadlHZkAcMtQfWcn2tprAkrZtu59lltU%2BV1zN%2FK8pLNUf9W%2BfHBTJ7D1PCkjV6IArCYGTkC99rjDg%3D%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX181ZPwrr66Sy170jROEOTnafv5H2nCfT75UsqkQsclifntb9Gsqqiv1ncuchYlnH1AvLvMlYYEhtg01bQ0byTFnZCTfxngjpNt%2BSHM2klY0agyx77NST%2FbK%2B9c0aiTW8zW6thOGaFW6vAqTTZaeqBCCxN8JNTmn%2FQY%3D; n8n-auth=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjVkYjhkMDcwLWRkNGYtNDhhMS1iZjc3LTJiOThhMTQ3ZWUwOSIsImhhc2giOiJjU2NxNDl6VlkyIiwiYnJvd3NlcklkIjoiQkN5N2JRT0txeHRIUXlyR29ESXV5SlB4YTBlSDVwd1ArWUhQZjgwZW5pZz0iLCJpYXQiOjE3MzIxODc3OTMsImV4cCI6MTczMjc5MjU5M30.QySiXcC-yuEA3yRliMgUGujbGDW_2-WxJIZK_YXP3BM; rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX1%2FM%2BHJHZ7%2BZGXngnSNbti8zgMH%2F6Cx5TzbIBu3nfLe%2B7DhFwpz3RgadQXRX0ABEDBcuBrNDC%2BNCMqSC58ogZ8CtasWAy8BoY5w%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX1%2FQmXeWaCcZGbdFQOICENEtjEYnroAMiGsck3JASglyIFTfBTILwQvyn%2FBzhMDZ2oznwiNMZdm%2BFw%3D%3D","if-none-match":"W/\"e8-3g7bMckVnN3Lax0KAUiFw2WgsWg\"","max-forwards":"10","sec-fetch-site":"none","sec-fetch-mode":"navigate","sec-fetch-dest":"document","x-arr-log-id":"7456bd90-bf6c-42eb-a390-fa8b6dd9c560","client-ip":"62.174.245.154:56745","disguised-host":"dev4in8n-eze9gjcphudfcvg5.northeurope-01.azurewebsites.net","x-site-deployment-id":"dev4in8n","was-default-hostname":"dev4in8n-eze9gjcphudfcvg5.northeurope-01.azurewebsites.net","x-forwarded-proto":"https","x-appservice-proto":"https","x-arr-ssl":"2048|256|CN=Microsoft Azure RSA TLS Issuing CA 07, O=Microsoft Corporation, C=US|CN=*.azurewebsites.net, O=Microsoft Corporation, L=Redmond, S=WA, C=US","x-forwarded-tlsversion":"1.3","x-forwarded-for":"62.174.245.154:56745","x-original-url":"/webhook-test/dashboard?id=142308478&first_name=Favashi&username=Favashi&photo_url=https%3A%2F%2Ft.me%2Fi%2Fuserpic%2F320%2FyCRjHurFRe1VBRnByAk1WjRVRyFzS3XdcT1cSQKAyW0.jpg&auth_date=1732482750&hash=472ee0259f8ba4a097141baf72acc2b0982b59d5657a49b9c6a0f3a51ad8f72a","x-waws-unencoded-url":"/webhook-test/dashboard?id=142308478&first_name=Favashi&username=Favashi&photo_url=https%3A%2F%2Ft.me%2Fi%2Fuserpic%2F320%2FyCRjHurFRe1VBRnByAk1WjRVRyFzS3XdcT1cSQKAyW0.jpg&auth_date=1732482750&hash=472ee0259f8ba4a097141baf72acc2b0982b59d5657a49b9c6a0f3a51ad8f72a","x-client-ip":"62.174.245.154","x-client-port":"56745"},"params":{},"query":{"id":"142308478","first_name":"Favashi","username":"Favashi","photo_url":"https://t.me/i/userpic/320/yCRjHurFRe1VBRnByAk1WjRVRyFzS3XdcT1cSQKAyW0.jpg","auth_date":"1732482750","hash":"472ee0259f8ba4a097141baf72acc2b0982b59d5657a49b9c6a0f3a51ad8f72a"},"body":{},"webhookUrl":"https://dev4in8n-eze9gjcphudfcvg5.northeurope-01.azurewebsites.net/webhook-test/dashboard","executionMode":"test"}}]},"versionId":"469ba612-3ae1-498c-ad47-ee482012a4eb","triggerCount":0,"tags":[]}]